.login_style {
    background-color: rgb(227, 185, 188, 0.1);
    width: 500px;
    height: 400px;
    margin-top: 150px;
    border-radius: 50px;
    backdrop-filter: blur(20px);

    .maininput {
        max-width: 300px;
        margin: auto;
    }

}

.background {
    width: 100%;
    height: 100vh; // 讓背景佔滿整個視窗高度
    background-image: url('./bp.jpg');
    background-position: center; // 圖片置中
    background-size: cover; // 關鍵！圖片縮放以填滿容器
    background-repeat: no-repeat;
}

.bg-color {
    background-image:
        radial-gradient(at 0% 0%, #000000 0px, transparent 110%),
        radial-gradient(at 70% 80%, #dd9faf 0px, transparent 90%);
}